.divSearch {
  margin-left: 60%;
  background-color: #aaa;
  width: 40%;
  height: fit-content;
  padding: 0.95rem 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.8rem;
}

.inputSearch {
  border-radius: 0.25rem;
  width: 65%;
  padding: 0.25rem 0.5rem;
}

.buttonSearch {
  background-color: #ffeb43;
  border-radius: 0.25rem;
  padding: 0.25rem 0.9rem;
}
